@model WebSite.Areas.MFG.Models.ViewModels.Reports.PRMSParamsViewModel
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_Parameters</label>
            <div class="input">
                @Html.DropDownList("ddl_Paramaters_PRMS", Model.ParametersList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_Machines</label>
            <div class="input">
                @Html.ListBox("ddl_Machines_PRMS", Model.MachinesList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })                
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_Process</label>
            <div class="input">
                @Html.DropDownList("ddl_Process_PRMS", Model.ProcessList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_Shifts</label>
            <div class="input">
                @Html.DropDownList("ddl_Shifts_PRMS", Model.ShiftsList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_Materials</label>
            <div class="input">
                @Html.DropDownList("ddl_Materials_PRMS", Model.MaterialsList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
            @Html.Label("IsGoodAnswer_PRMS", Resources.MFG.Reports.lbl_IsGood, new { @class = "control-label" })
            <div class="input">
                @Html.DropDownList("ddl_YesNo_PRMS", Model.YesNoList, new { @class = "form-control multiple-select", multiple = "multiple", data_live_search = "true" })
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_StartDatetime</label>
            <div class='input-group date'>
                @Html.TextBox("txt_StartDatetime_PRMS", DateTime.Now.ToString("yyyy-MM-dd HH:mm"), htmlAttributes: new { @class = "form-control datetimepicker" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <label class="control-label">@Resources.MFG.Reports.lbl_EndDatetime</label>
            <div class='input-group date'>
                @Html.TextBox("txt_EndDatetime_PRMS", DateTime.Now.ToString("yyyy-MM-dd HH:mm"), htmlAttributes: new { @class = "form-control datetimepicker" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

</div>