@model WebSite.Areas.Administration.Models.ViewModels.GenericCharts.DataChartAdminViewModel
<div class="content-frame">
    <div class="content-frame-top">
        <div class="page-title">
            <h2 class="margin-none">@Resources.GenericCharts.lbl_ChartOfAreas</h2>
        </div>
        <div class="col-xs-1 col-md-1 pull-right btn">
            <button id="btn_NewChart" class="btn btn-success">@Resources.GenericCharts.btn_NewChart</button>
        </div>
    </div>
    <div class="content-frame-body content-frame-body-all">
        <div class="panel panel-primary">
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">@Resources.Common.lbl_Filters</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <label>@Resources.GenericCharts.lbl_ChartsAreas</label>
                        @Html.DropDownList("ddl_ChartsAreas", Model.ChartAreasList, new { @class = "form-control selectpicker" })
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <label>@Resources.GenericCharts.lbl_ChartOfAreas</label>
                        @Html.DropDownList("ddl_ChartsOfArea", Model.ChartsOfAreaList, new { @class = "form-control selectpicker" })
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 panel-footer text-right">
                <button id="btn_Search" class="btn btn-info">@Resources.Common.search</button>
            </div>
        </div>

        <div id="div_DataChartAdmin">
            <div class="panel panel-info">
                <div id="div_DataChartAdminTable">
                    @Html.Partial("_Tbl_GenericCharts", Model.GenericChartsList)
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/Content/PLUGINS/bootstrap/bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/bootstrap-select")
    <script src="~/Scripts/PLUGINS/charts/Chart.min.js"></script>
    <script src="~/Scripts/PLUGINS/charts/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/Scripts/PLUGINS/charts/chartjs-plugin-annotation.min.js"></script>
    <script src="~/Scripts/Administration/GenericChartsAdministration/Index.js?v20191004" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var LangResources = {
                btn_Save: "@Resources.Common.btn_Save",
                TagAll: "@Resources.Common.TagAll",
                msg_DeleteChartConfirm: "@Html.Raw(Resources.GenericCharts.msg_DeleteChartConfirm)"
            };
            IndexInit(LangResources);
        });
    </script>
}
