@model  WebSite.Areas.HR.Models.ViewModels.KioskEmployee.EmployeePointsMovementsViewModel
<div id="_mo_PointsExchange" class="modal fade" role="dialog" style="align-content:center;width:100% !important; height: 100vh; z-index:9;">
    <div class="modal-content" style="width:100% !important;height: 100vh">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h1 class="modal-title">@Resources.HR.Kiosk.lbl_PointsExchange</h1>
                </div>
                <div class="col-xs-1" style="padding-right:15px">
                    <button type="button" id="btn_ClosePointsExchangeModal" class="btn btn-danger HeaderModalButtons" style="width:100%;" aria-hidden="true">@Resources.Common.btn_Close</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4 fa-2x fg-darkBlue">@Resources.HR.Kiosk.lbl_Availables : <span id="span_AvailablePoints">@Model.AvailablePoints</span></div>
                    <div class="col-xs-4 fa-2x fg-darkOrange">@Resources.HR.Kiosk.lbl_Petitions : <span>@Model.PetitionPoints</span></div>
                    <div class="col-xs-4 fa-2x fg-darkPink">@Resources.HR.Kiosk.lbl_Remaining : <span id="span_RemainingPoints">@(Model.AvailablePoints + Model.PetitionPoints)</span></div>
                </div>
                <div class="col-xs-5">
                    <div class="col-xs-12" style="overflow-y:auto; height:50vh;">
                        @Html.Partial("_Tbl_PointsDetails", Model.UserPointsMovementList)
                    </div>
                    <div class="col-xs-12 padding-top-10" style="overflow-y:auto; height:40vh;">
                        @Html.Partial("_Tbl_PendingPetition", Model.InterchangedTicketsList)
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-12" style="overflow-y:auto; height:50vh;">
                        @Html.Partial("_Tbl_AvailableItems", Model.ItemsList)
                    </div>
                    <div class="col-xs-12 padding-top-10 text-center" style="height:40vh;">
                        <h2 class="fg-red">@Resources.HR.Kiosk.lbl_PointsToExchange : <span id="span_TotalItemsPoints">0</span></h2>
                        <div class="col-xs-12">
                            @if (Model.EnableExchangePetitions)
                            {
                                <button type="button" class="btn bg-darkBlue MainPointsExangeButtons" id="btn_GeneratePetition">@Resources.HR.Kiosk.lbl_GeneratePetition</button>
                            }
                            else
                            {
                                <div class="col-xs-12">
                                    <div class="alert alert-info alert-dismissible col-xs-12" id="alert_background_image" role="alert">
                                        <div class="col-xs-12" style="text-align:center;">
                                            <h3 class="fg-white margin-bottom-none">@Resources.HR.Kiosk.alert_NonPointsExchange</h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

