@model List<Core.Entities.FormatGenericDetailTemp>
<div id="mo_NewPDFFieldDetailConfiguration" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-2" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Resources.Request.H_SelectDetailsShow</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="tbl_phase_list">
                            <table class="table accesstable display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped" id="tbl_Rule_FielDetailConfiguration">
                                <thead>
                                    <tr class="font-size-sm bg-primary">
                                        <th width="20"></th>
                                        <th>@Resources.Request.lbl_DetailFields</th>
                                    </tr>
                                </thead>
                                <tbody class="ui-state-default sortable">
                                    @foreach (var item in Model)
                                    {
                                        <tr class="font-size-sm" data-fieldname="@item.ColumnName" data-formatgenericdetailID="@item.FormatGenericDetailID" data-formatgenericdetailtempid="@item.FormatGenericDetailTempID">
                                            <td>
                                                <label class="checkbox lobicheck lobicheck-rounded" style="margin-bottom: 20px; margin-left: 10px;">
                                                    <input id="@item.FormatGenericDetailTempID" @(item.IsCheck?"checked":"") class="item-check" type="checkbox">
                                                    <i class="p-relative"></i>
                                                </label>
                                            </td>
                                            <td>@item.ShowAs</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn_back" data-dismiss="modal">@Resources.Common.btn_Back</button>
                <button id="btn_ModalSaveConfigurationDetailListPDF" type="button" class="btn btn-success">@Resources.Common.btn_Save</button>
            </div>
        </div>
    </div>
</div>
