@model List<Core.Entities.FormatsLoopsRulesDetail_TEMP>
<table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped margin-bottom-none" id="tbl_FormatsLoopsRulesDetail4Rules">
    <thead>
        <tr class="font-size-sm bg-primary">
            <th style="background-color: rgb(0, 136, 206) !important; color: whitesmoke !important;" class="text-center">#</th>
            <th style="background-color: rgb(0, 136, 206) !important; color: whitesmoke !important;">@Resources.Request.lbl_Rule</th>
            <th style="background-color: rgb(0, 136, 206) !important; color: whitesmoke !important;" width="60px">@Resources.Common.lbl_Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-formatloopruletempid="@item.FormatLoopRuleTempID" data-FormatLoopRuleDetailTempID="@item.FormatLoopRuleDetailTempID" data-seq="@item.Seq">
                <td>@item.Seq</td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    <button class="tbl_btn_DeleteRuleDetail btn btn-danger" title="@Resources.Request.lbl_DeleteRule" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>