@model List<Core.Entities.EntityField>
<div class="slider">
    <table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped" id="tbl_formatsfields">
        <thead>
            <tr class="font-size-sm bg-primary">
                <th>@Resources.Request.lbl_Field</th>
                <th>@Resources.Request.lbl_ShowAs</th>
                <th width="1%">@Resources.Request.lbl_Visible</th>
                <th width="1%">@Resources.Request.lbl_Mandatory</th>
            </tr>
        </thead>

        <tbody class="ui-state-default sortable">
            @{int count = 1;}
            @foreach (var item in Model)
            {

                <tr class="font-size-sm" data-SystemModule="@item.SystemModule" data-SystemModuleTag="@item.SystemModuleTag">
                    <td>
                        <input type="hidden" id="hf_FieldID" name="hf_VendorID" value="@item.FieldID" />
                        @item.DefaultTranslation
                    </td>
                    <td>
                        @item.CustomTranslation
                    </td>
                    <td class="text-center w-16 padding-top-8 padding-left-15 padding-right-15">
                        <button class="btn @(item.IsVisible ? "btn-success" : "btn-danger") btnyesno" type="button" id="@("visible"+count)" data-id="@item.FieldID" data-displayval="@((item.CustomTranslation != "") ? item.CustomTranslation:item.DefaultTranslation)" data-value="@(item.IsVisible ? "true" : "false")">@(item.IsVisible ? Resources.Common.lbl_Yes : Resources.Common.lbl_NO)</button>
                    </td>
                    <td class="text-center padding-top-8 padding-left-20 padding-right-20">
                        <button class="btn @(item.IsMandatory ? "btn-success" : "btn-danger") btnyesno" type="button" id="@("mandatory"+count)">@(item.IsMandatory ? Resources.Common.lbl_Yes : Resources.Common.lbl_NO)</button>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>
