@model List<Core.Entities.Catalog>
<div id="mo_NewBadge" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:10; width:100%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">@Resources.SG.SecurityGuard.btn_AddNewBadges</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="txtCompanyName">@Resources.SG.SecurityGuard.lbl_NBadge</label>
                            <div class="input">
                                @Html.TextBox("txtMoBadgeNumber", "", new { @class = "form-control", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="txtCompanyName">@Resources.SG.SecurityGuard.lbl_BadgeType</label>
                            <div class="input">
                                @Html.DropDownList("ddlMoBadgeTypes", new SelectList(Model, "CatalogDetailID", "DisplayText"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-danger" data-dismiss="modal">@Resources.Common.btnCancel</button>
                <button id="btnSaveNewBadge" class="btn btn-success">
                    @Resources.Common.btn_Save
                </button>
            </div>
        </div>
    </div>
</div>
