@model WebSite.Areas.HR.Models.ViewModels.Kiosk.IndexViewModel
@{
    Layout = "~/Areas/HR/Views/Shared/_FullScreenKioskLayout.cshtml";
}

<div class="BackImage" id="main_kiosk" style="background-image: url(@Model.BackgroundImage);">
    <div class="container-fluid start-screen split left h-100v" id="div_boxPanelLeft">
        <div id="div_DashboardAreas" class="tiles-area clear" style="margin-top:50px">
            @Html.Action("GetAreas", new { Model.ParentID })
            @*@Html.Partial("_KioskAreas", Model)*@
        </div>
    </div>
    <div class="container-fluid split right" style="margin-top:5%" id="div_boxPanelRight">
        <!-- START WIDGET CLOCK -->
        <div class="row">
            <div class="col-xs-12">
                <div class="widget widget-info widget-padding-sm" style="min-height: 0;margin: 0px;padding:0px;">
                    <div class="widget-big-int plugin-clock">00:00</div>
                    <div class="widget-subtitle plugin-date">Loading...</div>
                </div>
            </div>
        </div>
        <!-- END WIDGET CLOCK -->
        @*<div class="row carosuel-video-container" id="div_boxCarouselVideoContainer">*@
        <div class="row" id="div_boxCarouselVideoContainer">
            <div class="col-xs-12">
                <div class="carousel-video" data-slide="1" style="text-align:center;">
                    @foreach (var item in Model.CarouselMedia)
                    {
                        <div>
                            @if (item.Path.ToUpper().EndsWith(".MP4"))
                            {
                                <video data-mediatype="video" id="@item.MediaID" class="SlideMediaContent" data-transitiontime="0" style="width:100%;height:400px" controls preload="auto">
                                    <source src="@item.Path" />
                                </video>
                            }
                            else
                            {
                                <img data-mediatype="image" id="@item.MediaID" class="SlideMediaContent" data-transitiontime="5" src="@item.Path" style="width:100%;height:400px" />
                            }
                        </div>
                    }
                </div>

                <div class="carousel-video-nav" style="background-color: black;">
                    @foreach (var item in Model.CarouselMedia)
                    {
                        <div style="height: 125px; position: relative;padding:3px;">
                            <img data-mediatype="image" id="imgpreview_@item.MediaID" data-transitiontime="4" src="~/Content/img/fileinput/loading3.gif" alt="prev_@item.MediaID" style="object-fit: contain;position: absolute;height:100%;width:98%" />
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" id="btn_NewPublicRequest" class="form-control FooterKioskButtons" style="height:45px !important;">@Resources.HR.Kiosk.btn_KioskNewPublicRequisition</button>
            </div>
            @*<div class="col-xs-6">
                    <button type="button" id="btn_CheckPublicRequest" class="form-control FooterKioskButtons">@Resources.HR.Kiosk.btn_KioskSeePublicRequisitions</button>
                    <br />
                </div>*@
        </div>
    </div>
</div>

<div id="pnl_Detail" class="panel panel-success hidden" style="overflow-y:hidden">
    <div class="panel-heading ui-draggable-handle">
        <div class="panel-title-box" style="height:60px">
            <h1 id="h3_Name" style="margin-top:10px;padding:0px"> <span id="s_Footer"></span></h1>
        </div>
        <ul class="panel-controls">
            <li><a id="a_fullscreen" href="#" class="panel-fullscreen hidden"><span class="fa fa-expand"></span></a></li>
            <li><a href="#" class="containerpanel-remove" style="height: 59px;width: 200px;border-radius: 30px;font-size: 26px;font-weight: bold;color: white;background-color: #ff4500;border-color: #ff4500;padding-top: 12px;text-decoration: none"><span>@Resources.Common.btn_Back</span></a></li>
        </ul>
    </div>
    <div id="body_pnl_Detail" class="panel-body padding-0 overflow-y-no">
        <embed id="pdf_file" src="" type="application/pdf" style="width:100%;height:100%;" />
        <div id="div_link" style="width:100%;height:100%;"></div>
        <div id="div_video">
            <video id="v_video" controls="controls" class="videoDetail">
                <source id="s_video" src="">
            </video>
        </div>
        <img id="i_detail" src="" style="width:100%;height:100%" />
        <div id="div_Gallery">
            <div class="SliderFade">
            </div>
        </div>
    </div>
</div>

<div id="mo_Welcome" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h1>@Resources.HR.Kiosk.lbl_WelcomeToKiosk</h1>
            </div>
            <div class="modal-footer text-center">
                <button id="welcome-close" type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Common.btn_Close</button>
            </div>
        </div>
    </div>
</div>


@*Inicio de divs de login*@
<div id="div_Login"></div>
<div id="div_Mo_Suggestions"></div>
<div id="div_RequestWizard"></div>
<div id="div_PublicRequisitionList"></div>
<div id="root_modal"></div>

@*fin de divs de login*@

@Html.Hidden("CarouselTransitionTime", Model.TransitionTime)
@Html.Partial("~/Views/Shared/_GenericMessageBox.cshtml")

@section Styles
{
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro.min.css?v20190606">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-colors.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-rtl.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-icons.min.css">
    <link href="~/Content/PLUGINS/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/PLUGINS/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/PLUGINS/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PLUGINS/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/PLUGINS/numpad/jquery.numpad.css" rel="stylesheet" />
    <link href="~/Content/HR/Kiosk/Kiosk.css?v20200320" rel="stylesheet" />
    <link href="~/Content/HR/Kiosk/KioskEmployee.css?v20200217" rel="stylesheet" />

    <link href="~/Content/HR/Kiosk/slideform.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/PLUGINS/slideform/jquery.slideform.js?v20200721"></script>
    <script src="~/Scripts/PLUGINS/metro/metro.min.js"></script>
    <script src="~/Scripts/PLUGINS/slick/slick.min.js"></script>
    <script src="~/Scripts/PLUGINS/numpad/jquery.numpad.js"></script>
    <script src="~/Scripts/PLUGINS/maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/PLUGINS/bootstrap/bootstrap-select.js"></script>
    <script src="~/Scripts/PLUGINS/x-frame-bypass/x-frame-bypass.js"></script>
    <script src="~/Scripts/HR/Kiosk/Index.js?v20200409" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var cultureID = '@(Session["CultureID"] != null ? Session["CultureID"].ToString() : "" )';
            var Resources = {
                ScreenSaverInterval:  @Model.ScreenSaverInterval.ToString(),
                CloseWindowAfterIterval: @Model.SessionTime.ToString(),
                Visits: "@Resources.Common.chsn_SelectOption",
                lbl_Del: "@Html.Raw(Resources.Common.lbl_Del)",
                lbl_Clear: "@Html.Raw(Resources.Common.lbl_Clear)",
                lbl_Warning: "@Html.Raw(Resources.Common.lbl_Warning)",
                btnCancel: "@Html.Raw(Resources.Common.btnCancel)",
                title_Login: "@Html.Raw(Resources.Common.title_Login)",
                msg_ChooseAShift:"@Html.Raw(Resources.HR.Kiosk.msg_ChooseAShift)",
                msg_ChooseADepartment:"@Html.Raw(Resources.HR.Kiosk.msg_ChooseADepartment)",
                msg_ChooseRequestType: "@Html.Raw(Resources.HR.Kiosk.msg_ChooseRequestType)",
                msg_PleaseIdentify: "@Html.Raw(Resources.HR.Kiosk.msg_PleaseIdentify)",
                msg_MandatoryDescription: "@Html.Raw(Resources.HR.Kiosk.msg_MandatoryDescription)",
                lbl_Description: "@Html.Raw(Resources.HR.Kiosk.lbl_Description)",
                msg_InvalidUser: "@Html.Raw(Resources.HR.Kiosk.msg_InvalidUser)",
                lbl_UserPasswordIncorrect: "@Html.Raw(Resources.HR.Kiosk.lbl_UserPasswordIncorrect)",
                lbl_UserWithoutEmployeeNumber: "@Html.Raw(Resources.HR.Kiosk.lbl_UserWithoutEmployeeNumber)",
                TagAll: "@Html.Raw(Resources.Common.TagAll)",
                lbl_Success: "@Html.Raw(Resources.HR.Kiosk.lbl_Success)",
                lbl_Error: "@Html.Raw(Resources.HR.Kiosk.lbl_Error)",
                culture: cultureID.substr(0, 2).toLowerCase()

            };

            IndexInit(Resources);

        });
    </script>
}
