@model List<Core.Entities.KioskArea>
@if (Model.Count > 0)
{
    <table class="display table table-condensed table-striped" id="tbl_master" cellspacing="0">
        <thead>
            <tr class="font-size-sm" style="background-color:#00519e;color:whitesmoke;opacity:0.9;">
                <th width="3%"></th>
                <th class="center">#</th>
                <th class="left">@Resources.CI.DashboardManagement.gvh_ParentNode</th>
                <th class="left">@Resources.CI.DashboardManagement.gvh_AreaTag</th>
                <th class="left">@Resources.CI.DashboardManagement.gvh_SizeTag</th>
                <th class="left">@Resources.Common.gvH_DateAdded</th>
                <th class="left">@Resources.Common.gvH_UpdatedBy</th>
                <th class="left">@Resources.Common.gvH_DateLastMaint</th>
                <th class="left w-120">@Resources.Common.gvH_Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="font-size-sm" data-entityid="@item.KioskAreaID">
                <td width="3%" class="details-control"></td>
                <td class="center">
                    <a class="x-editable" data-type="text" data-title="@Resources.CI.DashboardManagement.gvh_SequenceTag" data-pk="@item.KioskAreaID" data-url="/HR/KioskAdministration/UpdateQuickEditable" data-value="@item.Seq" data-name="Seq" data-tpl="<input type='text' class='onlynumbers' maxlength = '9' placeholder='0'>">
                        @item.Seq
                    </a>
                </td>
                <td>
                   @item.ParentName
                </td>
                <td>
                    <a class="edit-fieldculture editable-click x-editable" data-entityid="@item.KioskAreaID" data-pk="@item.KioskAreaID" data-name="Title" data-value="@item.Title" data-url="/HR/KioskAdministration/UpdateQuickEditable" data-title="@Resources.CI.DashboardManagement.gvh_AreaTag">
                        @item.Title
                    </a>
                </td>
                <td>
                    <a class="x-editable" data-type="select" data-title="@Resources.CI.DashboardManagement.gvh_SizeTag" data-source="/HR/KioskAdministration/SizeList" data-pk="@item.KioskAreaID" data-url="/HR/KioskAdministration/UpdateQuickEditable" data-value="@item.SizeID" data-name="SizeID" data-tpl="<select class='form-control select x-editable-select'>">
                        @item.SizeText
                    </a>
                </td>
                <td>@item.DateAddedFormat </td>
                <td>@item.UserFullName </td>
                <td>@item.DateLastMaintFormat </td>
                <td style="width:120px; text-align:center">
                    <div class="btn-group dropup">
                        <button class="btn btn-info add-kioskareadetail" data-kioskarea-id="@item.KioskAreaID" title="@Resources.CI.DashboardManagement.tt_AddDashboardAreaDetail"><span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-danger delete-kioskArea" data-kioskarea-id="@item.KioskAreaID" title="@Resources.CI.DashboardManagement.tt_DeleteDashboardAreaTag"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}