@model  WebSite.Models.ViewModels.User.MenuViewModel

<ul class="x-navigation">
    <li class="xn-logo">
        @*<a href="#">@Resources.Common.title_Sofi</a>*@
        <div style="  width: 220px; height: 50px; position: relative;background-color: white;padding:3px;">
            <img src="~/Content/img/logo_big_en.png" style="background-size: 60%;position: absolute;width: 210px;height: 45px;" alt="alt" />
        </div>
        <a href="#" class="x-navigation-control" style="line-height: 0; font-size: 0;">.</a>
    </li>
    <li class="xn-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile-data-name profile-controls">
                    <span class="pull-left"> @Model.CurrentUser.FullName </span>
                    <div class="pull-right">
                        <a href="@Model.CurrentUser.NavigationToLoginAs" class="profile-control-right" title="@Resources.User.tt_ChangeUser"><span class="fa fa-user"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    @helper BuildMenu(IEnumerable<Core.Entities.AppMenu> data, int? parentId = null)
    {
        var items = data.Where(d => d.ParentMenuID == parentId).OrderBy(i => i.Sequence);
        if (items.Any())
        {
            if (parentId == 114)
            {
                var i = 0;
            }
            <ul>
                @foreach (var item in items)
                {
                    <li>
                        <a href="@item.NavigateTo.ToString()"><img src="@item.Icon" alt="alt" />  @item.Description.ToString()</a>
                        @BuildMenu(data, item.MenuID)
                    </li>
                }
            </ul>
        }
    }

    @foreach (var p in Model.Menus.Where(w => w.ParentMenuID == 0).OrderBy(i => i.Sequence))
    {
        if (Model.Menus.Where(f => f.ParentMenuID == p.MenuID).ToList().Count > 0)
        {
            <li class="xn-openable">
                <a href="@p.NavigateTo.ToString()"><img src="@p.Icon.ToString()" alt="alt" /> <span class="xn-text">@p.Description.ToString()</span></a>
                @BuildMenu(Model.Menus, p.MenuID)
            </li>
        }
        else
        {
            <li>
                <a href="@p.NavigateTo.ToString()"><img src="@p.Icon.ToString()" alt="alt"/> <span class="xn-text">@p.Description.ToString()</span></a>
                @BuildMenu(Model.Menus, p.MenuID)
            </li>


        }
    }



</ul>
