@model WebSite.Areas.MFG.Models.ViewModels.Catalogs.GasketModalViewModel
<div id="mo_EditGasket" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label class="control-label" for="MachineName">@Resources.Catalog.gvH_ValueID</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control moldScrapValue max-length" maxlength="100" id="ValueID" value="@Model.ValueID" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label class="control-label" for="MachineName">@Resources.MFG.OperationRecords.lbl_OperationProcess</label>
                        </div>
                        <div class="col-sm-12">
                            @Html.DropDownList("OperationProcess", Model.OperationProcess, new { @class = "form-control selectpicker" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label class="control-label" for="MachineName">@Resources.MFG.MachineSetups.lbl_Min</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control moldScrapValue max-length" maxlength="100" id="Min" value="@Model.Min" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label class="control-label" for="MachineName">@Resources.MFG.MachineSetups.lbl_Max</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control moldScrapValue max-length" maxlength="100" id="Max" value="@Model.Max" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn_back" data-dismiss="modal">@Resources.Common.btn_Back</button>
                @if (Model.Type == "Edit")
                {
                    <button id="btn_SaveGasketEdit" type="button" class="btn btn-info">@Resources.Common.btn_Save</button>
                }
                else
                {
                    <button id="btn_SaveNewGasket" type="button" class="btn btn-info">@Resources.Common.btn_Save</button>
                }
            </div>
        </div>
    </div>
</div>

@Html.Hidden("CatalogDetailID", Model.CatalogDetailID)