@model WebSite.Areas.MFG.Models.ViewModels.Catalogs.CatalogTableViewModel
<div class="content-frame-body content-frame-body-all">
    <div class="panel panel-primary">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title">
                @Resources.Common.lbl_Filters
            </h3>
            <ul class="panel-controls">
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <label>Value ID</label>
                    @Html.TextBox("value_id", null, new { @class = "form-control ToHideTable" })
                </div>
                <div class="col-xs-12 col-md-2 pull-right">
                    <button class="btn btn-success" style="width:100%" id="btn_search_downtimes">@Resources.Common.search</button>
                </div>
            </div>
        </div>
    </div>

    <div id="div_hidden">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped" id="table_Downtimes">
                    <thead>
                        <tr class="font-size-sm bg-primary">
                            <th>@Resources.Catalog.gvH_ValueID</th>
                            <th>text</th>
                            <th>backgroundcolor</th>
                            <th>@Resources.Common.lbl_Options</th>
                        </tr>
                    </thead>
                    <tbody class="ui-state-default">
                        @foreach (var item in Model.CatalogList)
                        {
                        <tr data-entityid="@item.CatalogDetailID">
                            <td>@item.ValueID</td>
                            <td>@item.DisplayText</td>
                            @*<td>@item.Param2</td>*@
                            <td>
                                <input type="hidden" class="mini-color" id="BackgroundColor" value="@item.Param2" name="BackgroundColor" disabled />
                            </td>
                            <td style="width:15%">
                                <button class="btn btn-success text-primary edit-downtimes-record"><span class="fa fa-lg fa-edit" style="color:white !important"></span></button>
                                <button class="btn btn-danger delete-record"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("Identifier", "Catalogs")
@Html.Hidden("Message", "Downtimes")
