<div id="mo_DemoldDefectsChartsHelp" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-2" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Resources.Common.lbl_Help</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        @Resources.HR.Kiosk.msg_GrossDefectsChartsHelp
                    </div>
                    <div class="col-xs-6">
                        @Resources.HR.Kiosk.msg_DefectsDefectsChartsHelp
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn_back_alerts" data-dismiss="modal">@Resources.Common.btn_Back</button>
                <button id="btn_SaveAlerts" type="button" class="btn btn-info">@Resources.Common.btn_Save</button>
            </div>
        </div>
    </div>
</div>