@model List<Core.Entities.RequestsGenericDetail>
    <div class="slider" style="width:100%;">
        @if (Model.Count > 0)
        {
            <table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped margin-bottom-none">
                <thead>
                    <tr class="font-size-sm bg-primary">
                        @if (Model.FirstOrDefault(w => w.ColumnConcept == "Concept").ConceptIsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnConcept == "Concept").ConceptName</th>
                        }
                        @if (Model.FirstOrDefault(w => w.ColumnReference1 == "Reference1").Reference1IsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnReference1 == "Reference1").Reference1Name</th>
                        }
                        @if (Model.FirstOrDefault(w => w.ColumnReference2 == "Reference2").Reference2IsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnReference2 == "Reference2").Reference2Name</th>
                        }
                        @if (Model.FirstOrDefault(w => w.ColumnReference3 == "Reference3").Reference3IsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnReference3 == "Reference3").Reference3Name</th>
                        }
                        @if (Model.FirstOrDefault(w => w.ColumnReference4 == "Reference4").Reference4IsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnReference4 == "Reference4").Reference4Name</th>
                        }
                        @if (Model.FirstOrDefault(w => w.ColumnReference5 == "Reference5").Reference5IsVisible != "false")
                        {
                            <th>@Model.FirstOrDefault(w => w.ColumnReference5 == "Reference5").Reference5Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.ConceptIsVisible != "false")
                            {
                                <td>@item.Concept</td>
                            }
                            @if (item.Reference1IsVisible != "false")
                            {
                                <td>@item.Reference1</td>
                            }
                            @if (item.Reference2IsVisible != "false")
                            {
                                <td>@item.Reference2</td>
                            }
                            @if (item.Reference3IsVisible != "false")
                            {
                                <td>@item.Reference3</td>
                            }
                            @if (item.Reference4IsVisible != "false")
                            {
                                <td>@item.Reference4</td>
                            }
                            @if (item.Reference5IsVisible != "false")
                            {
                                <td>@item.Reference5</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>