@model List<Core.Entities.User>
<table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped margin-bottom-none">
    <thead>
        <tr class="font-size-sm bg-primary">
            <th>@Resources.Common.lbl_User</th>
            <th>@Resources.HR.Kiosk.lbl_eMail</th>
            <th width="60px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName.Replace(".", " ")</td>
                <td>@item.eMail</td>
                <td>
                    <button class="addUserAccount btn btn-success"
                            data-useraccountid="@item.UserAccountID"
                            data-firstname="@item.FirstName"
                            data-email="@item.eMail">
                        @Resources.Common.btnAdd
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

