@model WebSite.Areas.HR.Models.ViewModels.OpportunitiesProgram.NotificationsViewModel
<div id="mo_Notification" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="align-content:center; z-index: 9">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">@Model.ModalTitle</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <strong><label>@Resources.HR.Kiosk.lbl_VacantNumber : </label><span style="color:darkblue; font-size:16px" id="span_vacant_numbers"></span></strong>
                </div>
                <div class="row">
                    @if (Model.IsAble)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:1%;">
                            <strong>@Resources.HR.Kiosk.lbl_Note</strong> @Model.ModalAlertText
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:1%;">
                            <strong>@Resources.HR.Kiosk.lbl_Note</strong> @Model.ModalAlertText
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
                <div class="row">
                    <label>@Resources.HR.Kiosk.lbl_Comments : </label>
                </div>
                <div class="row">
                    @Html.TextArea("txta_Mo_NotificationComments", "", new { @class = "form-control max-length", @style = "height:88px", @maxlength = "255" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn_CloseSendNotificationModal">@Resources.Common.btn_Close</button>
                <button type="button" class="btn btn-success" id="@Model.Btn_SendNotificationID">@Model.Btn_SaveChanges</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("OpportunityProgramID", 0)
@Html.Hidden("_Mo_NotificationTypeID", Model.NotificationTypeID)
@Html.Hidden("Mo_NotificationCandidateID", 0)

@Html.Hidden("Mo_CandidateIsDiscarted", false)